<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/master.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/components/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as toDoCtrl">
    <div class="container">
      <section class="todo form-group">
        <h1>To Do <small>List</small></h1>
        <form role="form" name="toDoForm">
          <input type="text" class="form-control" placeholder="Add task here" name="task" ng-model="toDoCtrl.newToDo" required>
        </form>
        <button type="submit" class="btn btn-primary" ng-click="toDoCtrl.addToDo()">Add</button>
      </section>
      <ul class="list-unstyled" id="tasks">
        <li ng-repeat="todo in toDoCtrl.toDoList track by $index">
          <input type="checkbox" name="checkbox" ng-model="todo.done"/>
          <span id="todo-status" class="done-{{todo.done}}">{{todo.task}}</span>
          <a href='#' class='close' id="delete-btn" aria-hidden='true' ng-click="toDoCtrl.deleteTask(todo)">&times;</a>
        </li>
      </ul>
      <div id="todo-count">Tasks: {{toDoCtrl.taskCounter()}}</div>
      <!-- <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button> -->
    </div>
  </body>
</html>
