form {
  display: inline-block;
}

/*
section.todo {
  margin: 0 auto!important;
  width: 45%!important;
}*/
.has-error {
  color: red;
  box-shadow:
}

.form-group {
  text-align: center;
  padding-bottom: 25px;
}

#tasks {
  margin: 0 auto;
  width: 500px;
}

a.close {
float: right;
}

.done-true {
  text-decoration: line-through;
}

.done-false {
  text-decoration: none;
}
