.container {
  background-color: #f0f0f0;
  width: 100%;
  height: 2000px;
}


form {
  display: inline-block;
}


.has-error {
  color: red;
  box-shadow:
}

.form-group {
  text-align: center;
  padding-bottom: 25px;
}

#tasks {
  margin: 0 auto;
  width: 400px;
}

a.close {
float: right;
}

.done-true {
  text-decoration: line-through;
}

.done-false {
  text-decoration: none;
}

.btn-primary {
  background-color: #13756D!important;
  border-color: #0d5751!important;
}
